@import "tailwindcss";

* {
  font-family: "Poppins", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #230312;
  color: #efb8d2;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb00;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 9998;
}

.loader::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px solid #dddddd;
  border-top-color: #efb8d2;

  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
